@page "/counter"
@using SemestrTwoBlazor.ApiRequests
@using SemestrTwoBlazor.ApiRequests.Model
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<p class="text—center fw-bold mb-5 mx-1 mx-md-4 mt-4">
    <table class="table table-bordered">
        <thead class="alert-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Description</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @if (users == null)
            {
                <tr>
                    <td colspan="3" class="text-center">Loading...</td>
                </tr>
            }
            else if (!users.Any())
            {
                <tr>
                    <td colspan="3" class="text-center">No users found!</td>
                </tr>
            }
            else
            {
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                        <td>@user.Name</td>
                        <td>@user.Description</td>
                        <td>@user.Password</td>
                        <td>@user.Role</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</p>

@code {
    private List<UserData> users;
    [Inject] private ApiRequestService apiRequest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await getAllUsers();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await getAllUsers();
    }

    private async Task getAllUsers()
    {
        var user = await apiRequest.GetAllUsers();
        users = user ?? new List<UserData>();

        StateHasChanged();
    }
 
}
